--
--
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="./assets/css/style.css"/>
        <link href="./assets/css/lightbox.min.css" rel="stylesheet"/>
        <script src="./assets/js/lightbox.min.js"/>
        <meta charset="utf-8">
        </meta>
    </head>
    <body>
        <div class="Margins">
            <p class="LatexTitle">{{ page.title }}</p>
            {% if page.creator %} <p class="LatexName">{{ page.creator }}</p> {% endif %}
            
            {% if page.abstract %}<div class="AbstractMargins">
                <p class="LatexAbstract">Abstract</p>
                <p class="LatexAbstractText">{{ page.abstract }}</p>
            </div>{% endif %}
            
            {{ content }}
            
        </div>
        <footer class="footerSize"/>
    </body>
</html>
